.cache/
.firebase/
.svelte-kit/
build/
firebase-debug.log
firestore-debug.log
node_modules/
playwright-report/
test-results/
.env
.env.sandbox
.env.production
.env.local
.env.*.local
gha-creds-*.json
preview.json
